// Here you can add other styles
.game-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.game-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

    @media (max-width: 767px) {
        flex-direction: column;
    }
}
.game-btn {
    padding: 7px 15px;
    background-color: green;
    border-radius: 5px;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: all .2s;
    border: 0;
    outline: none;
    text-align: center;

    &:hover,
    &:focus {
        background-color: #cfab68;
        text-decoration: none;
        color: white;
    }
}

.game-title {
    text-align: center;
    margin-bottom: 15px;
}

.message-success {
    padding: 5px 15px;
    background-color: #D4EDDA;
    border: 2px solid #c3e6cb;
    color: green;
    margin-bottom: 15px;
    border-radius: 3px;
}

.message-error {
    padding: 5px 15px;
    background-color: #f8d7da;
    border: 2px solid #f8d7da;
    color:#721c24;
    margin-bottom: 15px;
    border-radius: 3px;
}

.form {
    padding: 30px;
    background-color: white;
    border-radius: 5px;
}

.far {
    color: green;
    font-size: 20px;

    @media (max-width: 767px) {
        transform: rotate(90deg);
        margin: 10px 0;
    }
}

.router-link-exact-active {
    background-color: #cfab68;
}